@import 'partials/variables';

#about-container {
  border-bottom: solid;
  border-top: solid;
  border-color: lightblue;
  border-width: .05em;
  .tabs-container {
    padding-left: 20%;
    border-bottom: solid;
    border-color: lightblue;
    border-width: .05em;
  }
  .gettingstarted-container {
    min-height: 27vh;
    overflow-y: hidden;
    .gettingstarted-content{
      padding-top: 3em;
      // display:block;  
      // position: absolute;
      width: 100vw;
      text-align: center;
      list-style-type: circle;
      h3 {
        padding-right: 1em;
      }
      ul {
        padding-top: 1em;
      }
    }
  }
  .benefits-container {
    color: $blue;
    padding-top: 3em;
    // height: 27vh;
  }
  .aboutus-container {
    padding-top: 1.5em;
    min-height: 30vh;
    overflow: scroll;
    .aboutus-content {
      color: $blue;
      padding: 0em 20em;
      text-align: center;
      p {
        display: inline-block;
      }
    }
  }



}