@import 'partials/variables';

#banner-container {

  .carousel {
    max-width: 100vw;
    max-height: 60vh;
    object-fit: contain;
    .banner-overlay {
      opacity: 0.9;
      filter: brightness(.55);
      .carousel-item{

      }
    }
    .banner-content {
      color: $white;
    }
    .searchbar-container {
      .searchbar {
        background-color: $white;
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 50%;
      }
    }
    .btn {
      background-color: $blue;
      color: $white;
    }
  }

}