
@import 'partials/variables';

#services-container {
  max-height: 100vh;
  overflow-y: scroll;
  
  .services-column{
    margin: 1em 0em 0em 1.9em;
    min-width: 30%;
    // background-color: $blue;
  
    .card {
      min-height: 17em;
      border-style: solid;
      border-color: $grey;
      background-color: $lightblue;

      img {
        margin: 0;
        min-height: 8em;
        min-width: 8em;

        .card-button-container {
          padding:0;
            position:absolute;
            width: 100%;

          .card-action {
            padding: 0em;
            position: absolute;
          }
        }
      }
    }
    .card-stacked {
      

      .card-content {
        padding: .6em;
        max-height: 1em;

        .card-title {
          color: $black;
        }

        .card-rating {
          color: $blue;
          .star {
            content: '\f005';
    
          }
          p {
            border-bottom: .1em solid;
            color: $grey;
            font-size: .7em;
          }
        }

        .card-details {
          display: block;
          color: $black;
          font-size: .8em;
          // height: 20vh;
          // width: 18vh;
          // overflow-x: scroll;
          // overflow-y: scroll; 
          
        }

      }


    }
    .card-reveal {
      background-color: $blue;
      .card-title {
        color: $white;
      }
      p {
        font-size: 1em;
      }
      .material-icons {
        padding: 0;
        color: $white;
        font-size: 1em;
      }
    }


    }
  }