// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'partials/variables';

#services-container {
  max-height: 100vh;
  overflow-y: scroll;
  
  .card {
    min-height: 15em;
    background-color: $lightblue;
  }
  .services-column{
    margin: 1em 0em 0em 1.9em;
    min-width: 30%;
    background-color: $blue;

    img {
      min-height: 8em;
    }

    .card-stacked {
      

      .card-content {
        padding: .6em;

        .card-title {
          color: $black;
        }
        .card-details {
          color: $black;
          font-size: .8em;
        }

      }


    }
    .card-reveal {
      background-color: $blue;
      .card-title {
        color: $white;
      }
      p {
        font-size: 1em;
      }
      .material-icons {
        color: $white;
        font-size: 1em;
      }
    }


  }

}